.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #cc9999;
    width: 600px;
    height: 600px;
}

.text_left{
    background-color: #99CC99;
    width: 50%;
    height: 300px;
}
.text_right{
    background-color: #6777ed;
    width: 50%;
    height: 300px;
}

.img {
    width: 100%;
}

.img img {
    max-width: 100%;
    height: auto;
}
